.micro_header {
  background-color: #5c4c35;
  display: flex;
  justify-content: center;
}
.micro_box {
  background-color: #fff9e7;
}

.micro_header_content {
  display: flex;
  align-items: center;
}

.micro_header_content p {
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
  font-size: 2.5rem;
}

.microscope_header_sticker {
  width: 224px;
  height: 240px;
}
.micro_instruction_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 100px 0;
  width: 100%;
}

.micro_instruction {
  background-color: #5c4c35;
  border-radius: 60px;
  border: 1px;
  display: flex;
  flex-direction: column;
  width: 80%;

  text-align: center;
}

.micro_instruction p {
  color: white;
  padding: 30px 0;
}

.micro_hr {
  border: 3px solid black;
}

/* Sticker */
.micro_sticker_left {
  left: 105px;
}

.micro_sticker_right {
  right: 85px;
}
.micro_sticker_turn {
  transform: rotate(55deg);
}

.micro_header_sticker {
  position: absolute;
  margin-top: 45px;
  width: 100px;
  height: 81px;
}
.micro_instruction_steps {
  display: flex;
  justify-content: center;
}
.micro_instruction_steps p {
  margin: 0 10px;
}

.micro_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.micro_footer_text {
  font-weight: bold;
  margin-bottom: 50px;
}

/* Responsive */

@media (max-width: 2560px) {
  .micro_sticker_left {
    left: 200px;
  }

  .micro_sticker_right {
    right: 200px;
  }
}

@media (max-width: 1440px) {
  .micro_sticker_left {
    left: 90px;
  }

  .micro_sticker_right {
    right: 90px;
  }
}

@media (max-width: 1024px) {
  .micro_sticker_left {
    left: 45px;
  }

  .micro_sticker_right {
    right: 45px;
  }
}
@media (max-width: 768px) {
  .micro_sticker_left {
    left: 25px;
  }
  .micro_instruction p {
    padding: 20px 20px;
  }

  .micro_sticker_right {
    right: 25px;
  }
  .micro_header_content p {
    margin: 0 0 0 130px;
  }
}

@media (max-width: 425px) {
  .microscope_header_sticker {
    height: 130px;
    width: 110px;
  }
  .micro_sticker_left {
    left: -10px;
  }

  .micro_sticker_right {
    right: 10px;
  }
  .micro_header_content p {
    margin: 0 0 0 100px;
    font-size: 1.5rem;
  }
  .micro_header_sticker {
    width: 90px;
    height: 70px;
  }
  .micro_instruction_steps img {
    display: none;
  }
}

@media (max-width: 320px) {
  .micro_header_content p {
    margin-left: 50px;
  }
  .micro_footer_text {
    margin-left: 50px;
  }
}
