:root {
  --dark-blue: #172747;
  --text-color: #929ecc;
  --font-web: allerta stencil;
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;

  font-family: Roboto;
}
